{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^(?![.~]).*(?<!.css|.scss)$",
    "^~.*(?<!.css|.scss)$",
    "^\\..*(?<!.css|.scss)$",
    "^(?![.~]).*$",
    "^~.*",
    "^\\..*",
    ".*"
  ]
}
