{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": [
    "^react$",
    "^react-dom$",
    "<THIRD_PARTY_MODULES>",
    "^~.*(?<!.css|.scss)$",
    "^\\..*(?<!.css|.scss)$",
    "^~.*",
    "^\\..*",
    ".*"
  ]
}
