.markdown {
  min-height: 200px;

  & > *:first-child {
    @apply mt-0 !important;
  }
  & > *:last-child {
    @apply mb-0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8 mb-4 font-semibold;
  }

  h1 {
    @apply text-3xl pb-2 border-b border-slate-200;
  }

  h2 {
    @apply text-2xl pb-2 border-b border-slate-200;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-sm text-slate-500;
  }

  p,
  blockquote,
  ol,
  ul {
    @apply mb-4 break-all;
  }

  blockquote {
    @apply border-l-6 p-4 border-violet-400 bg-slate-50;
    > *:last-child {
      @apply mb-0;
    }
  }

  a {
    @apply text-violet-500 hover:text-violet-300;
  }

  ol,
  ul {
    @apply pl-4;
    li + li {
      @apply mt-1;
    }
    ol,
    ul {
      @apply mt-1 mb-0;
    }
  }

  ol {
    @apply list-decimal;
    ol {
      @apply list-lower-roman;
    }
  }

  ul {
    @apply list-disc;
    ul {
      @apply list-circle;
    }
  }

  iframe {
    @apply mb-4 max-w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & > code {
      @apply bg-slate-100 text-violet-500 px-1 mx-0.5 rounded-md;
    }
  }

  :not(pre, h1, h2, h3, h4, h5, h6) > code {
    @apply break-all text-sm px-1 py-0.5 mx-0.5 rounded-md whitespace-normal;
  }

  :not(pre, h1, h2, h3, h4, h5, h6) > code:not(.one-dark-pro) {
    @apply text-violet-500 bg-slate-100;
  }
}

.excerpt-markdown {
  code {
    @apply text-violet-500 bg-slate-100 break-all text-sm px-1 py-0.5 mx-0.5 rounded-md whitespace-normal;
  }
}

/* grvsc setting */
.grvsc-container {
  @apply mb-4;
}

.grvsc-code {
  @apply min-w-full;
}

.grvsc-gutter-pad {
  @apply pl-0;
}

.grvsc-gutter + .grvsc-source {
  @apply pl-4;
  padding-left: calc(
    var(--grvsc-padding-left, var(--grvsc-padding-h, 1.5rem)) * 2 / 3
  );
}

/* auto link */
.anchor.after {
  @apply pl-2 inline-flex !important;
  @apply items-center h-4;
  svg {
    @apply w-4 h-4;
  }
}
