---
import { ExclamationCircleSvg } from '~/assets';
---

<div class="text-center py-20">
  <div class="flex items-center justify-center text-slate-300">
    <Fragment set:html={ExclamationCircleSvg} />
  </div>
  <div class="mt-4 text-slate-300">No Data</div>
</div>
